.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  gap: 10px;
  width: max-content;
  margin-top: 20px;

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }
}

.button {
  width: 200px;
  height: 49px;
  font-weight: 600;
}
