.container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: max-content;
  margin: 50px auto;
  align-items: center;
  transition: 1s opacity;
}

.container_loading {
  opacity: 0;
}
